@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "oswald";
}

html {
  scroll-behavior: smooth;

}

.nevbar {
  width: 100%;
  position: absolute;
  top: 0px;
  font-family: "Popins";
  z-index: 5;
  display: flex;
  background-color: transparent;
}

.logo a {
  text-decoration: none;
  color: white;
  transition: .3s;
}

.logo a h1 {
  margin: 15px 100px;
  font-size: 35px;
}

.logo a h1 span {
  color: green;
  font-size: 35px;
}

.menu {
  flex: 1;
  text-align: right;
  margin-top: 28px;
  margin-right: 100px;
}

.menu ul li {
  list-style: none;
  display: inline-block;
}

.menu ul li a {
  text-decoration: none;
  color: white;
  margin-left: 30px;
  font-size: 15px;
  transition: 0.5s;
  font-weight: 500;
  position: relative;

}

.menu ul li a:hover {
  color: green;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  font-weight: 700;
  font-size: 16px;
}

.logo a h1:hover {
  padding: 10px;
  box-sizing: border-box;
  background-color: white;
  transform: rotateX(30deg);
  color: green;
}

.menu ul li a span {
  color: green;
}

.menuicon {
  margin: auto;
  color: rgba(255, 255, 255, 0.5);
  display: none;
}

.menuicon i span {
  font-weight: 600;
}


@media only screen and (max-width : 700px) {
  .nevbar {
    background-color: black;
  }

  .logo a h1 {
    margin: 15px 12px;
  }

  .menu {
    text-align: right;
    margin-right: 0px;
    position: absolute;
    background-color: black;
    width: 100%;
    top: 49px;
    max-height: 0px;
    overflow: hidden;
    box-shadow: 0px 10px 12px -1px rgb(0 0 0 / 10%);
    transition: .5s;
  }

  .menu ul li {
    list-style: none;
    display: block;
    margin: 25px 40px 35px auto;
  }

  .menu ul li a {
    text-decoration: none;
    color: white;
    margin-left: 0px;
    font-size: 15px;
    transition: 0.5s;

  }

  .menuicon {
    display: block;
    margin-right: 30px;
    font-size: 20px;
    cursor: pointer;
  }

}


.cover {
  width: 100%;
  height: 100vh;
  font-family: "Popins";
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url('/download (9).jpeg');
  z-index: -200;
  color: white;
}

.cover .information {
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 10%;
}

.information h3 {
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: 300;
}

.information h3 span {
  float: right;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
}

.information h2 {
  font-size: 40px;
}

.information h1 span {
  font-size: 110px;
  line-height: 120px;
  color: green;
  letter-spacing: 10px;
}

.information a {
  display: block;
  max-width: 350px;
  margin: 0 auto;
}

.information a button {
  padding: 8px 80px;
  cursor: pointer;
  letter-spacing: 5px;
  background: linear-gradient(to right, transparent 50%, green 50%);
  background-size: 200%;
  background-position: left;
  transition: .3s;
  border: 2px solid white;
  color: white;
  margin: 40px 0 -50%;
  width: 100%;
}

.information a button:hover {
  background-position: right;
  color: white;
}

@media only screen and (max-width : 700px) {

  .cover .information {
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 30%;
  }

  .information h3 {
    font-size: 14px;
    letter-spacing: 3px;
    font-weight: 300;
  }

  .information h3 span {
    float: none;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
  }

  .information h2 {
    font-size: 30px;
  }

  .information h1 span {
    font-size: 70px;
    line-height: 120px;
    color: green;
    letter-spacing: 10px;
  }

}

.fullContainer {
  width: 100%;
}

.container {
  width: 1140px;
  margin: auto;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.about {
  margin-top: 80px;
}

.mainraw {
  gap: 140px;
  margin-top: 70px;
  margin-bottom: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.row1 {
  text-align: center;
}

.row2,
.row4,
.row5 {
  width: 300px;
  height: auto;
}

#vision h1 {
  color: black;
  margin: 20px;
}

#vision section {
  width: max-content;
  margin: auto;
  padding: 20px;
  border-radius: 50%;
  background-color: green;
  margin-bottom: 20px;
  transition: all 1s ease;
}

#vision img {
  transition: all 1s ease;
}

.row2>h4,
.row4>h4,
.row5>h4 {

  text-decoration-thickness: 4px;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #ae97ba;
  margin-bottom: 15px;
  text-decoration-line: underline;
  text-decoration-color: #c1accc;
  text-decoration-style: solid;
}

.row2>p,
.row4>p,
.row5>p {
  font-family: "raleway";
  text-align: center;
}

#vision div {
  cursor: pointer;
}

#vision div:hover img {
  transform: scale(1.10);
}

#vision div:hover section {
  box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.4);
}

.about1 {
  width: 100%;
  display: flex;
  background-color: #F8F9FA;
  padding-top: 80px;
  padding-bottom: 80px;
}

.about1 .imgcontanner {
  width: 50%;
  position: relative;
}

.about1 .imgcontanner .aboutimg {
  position: absolute;
  background: url('/Volunteer-At-Local-Places.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 350px;
  top: 80px;
  left: 32%;
}

.about1 .aboutcontent {
  width: 50%;
  padding: 80px 10% 80px 16%;
  color: white;
  background-color: #4D774E;
}

.aboutcontent h5 {
  letter-spacing: 2px;
  font-weight: 600;
  margin-bottom: 10px;
}

.aboutcontent h1 {
  font-weight: 600;
  font-size: 50px;
  padding-bottom: 20px;
}

.aboutcontent p {
  padding-bottom: 30px;
}


.aboutcontent a {
  color: white;
  text-decoration: none;
  background-color: transparent;
  padding: 8px 40px;
  background: linear-gradient(to right, transparent 50%, rgb(1, 161, 1) 50%);
  background-size: 200%;
  background-position: left;
  transition: .3s;
  border: 2px solid white;
  letter-spacing: 2px;
  font-size: 14px;
}

.programs {
  background-color: white;
  margin-top: 100px;
}

.programs .boxContainer {
  width: 1300px;
  display: grid;
  padding: 0px 50px;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
}

.programs .green {
  font-size: 15px;
  font-weight: lighter;
  color: black;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-style: 'Popins', 'Sans serif';
}

.center {
  margin: 90px 0px;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  gap: 13px;
  align-items: center;
  justify-content: center;
}

.SectionTitle {
  font-size: 40px;
}

.programs .boxContainer .box {
  background-color: #fff;
  text-align: center;
  padding-bottom: 25px;

  border-radius: 5px;
  box-shadow: 0 0 3px #c5c5c5;
  position: relative;
  margin-bottom: 15px;
}

.programs .boxContainer .box .cardImage {
  width: 100%;
  height: 300px;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}

.programs .boxContainer .box .cardImage:after {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  filter: grayscale(100%);
  transition: 0.4s;
}

.programs .boxContainer .box:nth-child(2) .cardImage,
.programs .boxContainer .box:nth-child(2) .cardImage:after {
  background-image: url('/Health-Screening.jpg');
}


.programs .boxContainer .box:nth-child(3) .cardImage,
.programs .boxContainer .box:nth-child(3) .cardImage:after {
  background-image: url('we.png');
}

.programs .boxContainer .box:nth-child(4) .cardImage,
.programs .boxContainer .box:nth-child(4) .cardImage:after {
  background-image: url(./equality.jpg);
}


.programs .boxContainer .box:nth-child(1) .cardImage,
.programs .boxContainer .box:nth-child(1) .cardImage:after {
  background-image: url(/education.jpg);
}


.programs .boxContainer .box:hover .cardImage:after {
  top: 100%;
}

.programs .boxContainer .box .programTitle {
  font-size: 16px;
  margin-top: 15px;
  font-weight: 600;
  color: #444;
}

.programs .boxContainer .box .donationCount {
  font-size: 13px;
  font-weight: 600;
  color: #444;
  margin-top: 10px;
}

.programs .boxContainer .box .donationCount span {
  color: green;
}

.programs .boxContainer .box button {
  position: absolute;
  left: 50%;
  background-color: #9DC88D;
  transform: translate(-50%);
  bottom: -15px;
  border-radius: 60px;
  padding: 7px 15px;
  border: 0;
  color: black;
  outline: none;
}


.news {
  padding: 30px 30px;
  /* margin-bottom: 100px; */


}


#evnt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  background-color: white;
  height: 400px;
}

.border {
  width: 100%;
  margin: 0px 0px;
  height: 3px;
  bottom: 0px;
  position: absolute;
  opacity: 0.7;
}

.cardS:hover {
  .border {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 11px;

    opacity: 0.9;

    left: 0px;
    transition-behavior: normal;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    transition-property: all;

  }


  box-shadow: 0 0.07rem 0.9rem 0.07rem grey;
  transform: translateY(0);
  border-radius: 10px;
  /* padding:10px; */


}


.cardS {
  position: relative;
  height: 350px;
  width: 400px;
  background-color: #e5e5e59c;
  margin: 0px 10px;
}

.cardS .s1 {
  position: absolute;
  top: 0px;
  /* width: 60px; */
  padding: 12px;
  width: auto;
  display: flex;
  flex-direction: column;
  height: auto;
  /* height: 60px; */
  background-color: green;
  font-size: 20px;
  color: white;
}

.cardS>img {
  width: 100%;
  height: 200px;
}

.cardS>div {
  text-align: center;
  font-size: larger;
  font-weight: 300;
  width: 100%;
}

.card1>h5 {
  font-size: larger;
  font-weight: 600;
  margin-top: 30px;
}

.card1 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card1 .flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}





.volunteer {
  /* position: relative; */
  width: 100%;
  margin-top: 120px;
  height: 600px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.55)), url('/MTC-portrait-of-volunteer-group-posing-L6NAHWF-1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: row;

}

.volunteer .u1 {
  padding-top: 28px;
  max-width: 950px;
  /* position: absolute; */
  margin-top: 87px;
  margin-left: 50px;
  width: auto;
  /* width: 700px; */
  height: 400px;
  background-color: white;
  padding-left: 30px;
}

.volunteer .u1 .orange {
  font-size: 31px;
  font-family: 'Hackensack';
  font-weight: lighter;
  color: green;

}

.volunteer .big {
  font-family: 'Hackensack';
  font-size: 41px;
  font-weight: 600;
  margin: 30px 0px;
  color: black;

}

.volunteer p {
  color: grey;
  text-align: left;
  font-family: 'Hackensack';
  font-weight: lighter;
  font-size: larger;
  line-height: 1.5;
}

.volunteer .orbtn {
  font-family: 'Druck Wide Bold';
  background-color: green;
  color: white;
  font-weight: 600;
  font-size: 21px;
  padding: 24px;
  border: 1px solid;
  /* z-index: 20; */
  border-radius: 4px;
  margin: 40px 0px;
}

.volunteer .allbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 148px;
  height: 400px;
  gap: 20px;
  padding-left: 30px;
}

.volunteer .box1 {
  width: 250px;

  height: 200px;
  display: flex;
  flex-direction: row;
  position: relative;
}



.volunteer .icon>div {
  font-size: 50px;
  margin-left: 10px;
  font-weight: lighter;
}

.volunteer .text {
  margin-top: 10px;
  font-family: 'Hackensack';
  text-align: center;
}

.volunteer .text>div {
  position: absolute;
  font-size: 40px;
  top: 0;
  text-align: center;

}

#tm {
  font-size: 20px;
  margin-top: 10px;
  position: absolute;
  top: 45px;
}





.frow {
  margin: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  /* margin-top: 100px; */
  height: 100px;
}

.col {
  margin: 0;
  padding: 0;
  width: 400px;
  height: 100px;
  display: table-cell;
  float: none;
  /* vertical-align: middle;
  */
  align-content: center;
}

.involved {
  background-color: #666;
}


.footer-form-content {
  padding: 10px 0;
  text-align: center;
}

.footer-form-content h4 {
  font-size: 20px;
  color: #fff;
  text-transform: initial;
  line-height: 32px;
  font-family: Poppins, sans-serif;
  text-align: center;
  font-weight: 500;
}

.footer-form-content h4 span {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.touch {
  background: #e2bf7f;
  background-image: url('get-in-touch.jpg');

}

.footer-form-content p {
  font-size: 18px;
  color: #fff;
  text-transform: initial;
  line-height: 32px;
  font-family: Poppins, sans-serif;
  text-align: center;
  font-weight: 300;
}

.footer-form-content p a {
  color: #fff;
}

.volunteer1 {
  background-color: #f1d8b9;
  background-image: url('becom-volunteer.jpg');

}

.donate {
  background-color: #e2bf7f;
  background-image: url('get-in-touch.jpg');

}


.last1 {
  width: 100%;
  height: 600px;
  /* background-color: #6A6B6A; */
  /* background-color: #232323; */
  background: url('footer-bg.jpg') no-repeat right top #000;
  /* margin-top: 40px; */
}


.whiteline {
  margin: 10px 0px;

  background-color: white;
  height: 1px;

  width: 100%;
}

.link {
  padding: 70px 0px 0px 0px;
  height: 85%;
  width: 100%;
}

.link ul {
  list-style: none;
  padding: 7px;
}

.link li {
  font-size: 15px;
  color: white;
  text-transform: uppercase;
  line-height: 24px;
  font-family: Poppins, sans-serif;
  font-weight: 300;
  padding: 3px 0;
  letter-spacing: 1px;
}

.history {
  color: white;
}

.f1 {
  width: 100%;
  height: 100px;
  display: flex;
  align-content: center;
  position: relative;
  justify-content: center;
}

.f1 p {
  font-size: 15px;
  color: white;
  text-transform: uppercase;
  line-height: 24px;
  font-family: Poppins, sans-serif;
  font-weight: 300;
  padding: 3px 0;
  letter-spacing: 1px;
}

.f10 {
  width: 100%;
  height: 100px;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 48px;
}



.f11 h4 {
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  line-height: 32px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  text-align: left;
}

.f11 h4 img {
  max-width: 18px;
  margin-right: 10px;
}

.f11 p {
  padding-left: 23px;
  font-size: 15px;
  color: white;
  text-transform: inherit;
  line-height: 32px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
}

.f11 ul {
  display: flex;
  align-items: center;
}

.f11 li {

  display: inline-block;
  padding: 0px 8px;

}

.f11 ul li:first-child img {
  max-width: 10px;
}

.f11 ul li img {
  max-width: 20px;
  object-fit: cover;
}

.mainform {
  display: flex;
  padding-left: 128px;
}


.t1 {
  height: 299px;
  width: 280px;
  margin-top: 80px;

}

.t2 {
  height: 299px;
  width: 250px;
  margin-top: 80px;
  margin-left: 250px;
}

.t3 {
  height: 299px;
  width: 250px;
  margin-top: 80px;
  margin-left: 200px;
}

.t1 p {
  font-size: 15px;
  color: white;
  text-transform: uppercase;
  line-height: 24px;
  font-family: Poppins, sans-serif;
  font-weight: 300;
  padding: 3px 0;
  letter-spacing: 1px;
}

.t3 h4 {
  color: white;
  font-size: 17px;

  text-transform: inherit;
  line-height: 40px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  padding-bottom: 5px;
}

.t3 p {
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: 1px;
  color: white;
  margin-bottom: 10px;
}

.t3 input {
  background: #ad8639;
  color: black;
  border: 0;
  padding: 15px 10px;
  font-size: 11px;
  width: 100%;
}

.t2 h4 {
  color: white;
  font-size: 17px;

  text-transform: inherit;
  line-height: 40px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  padding-bottom: 5px;
}

.t2 a {
  color: inherit;
  text-decoration: none;
}

#submit {
  font-size: 15px;
  color: #fff;
  text-transform: initial;
  letter-spacing: 2.17px;
  line-height: 27px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  text-align: right;
  background: #4D774E;
  padding: 8px 28px;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 15px;
  border: 0;
}